---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";

export function getStaticPaths(){
    const allPosts = Object.values(import.meta.glob('../blog/posts/*.md',{eager:true}))
    const uniqueTags = [...new Set(allPosts.map((post:any) => post.frontmatter.tags).flat())]
    
    return uniqueTags.map((tag:any) => {
        const filterPosts = allPosts.filter((post:any)=>post.frontmatter.tags.includes(tag))
        return {
            params: {
                tag: tag
            },
            props: {
                posts: filterPosts
            }
        }
    })

    // return [
    //     {
    //         params: {
    //             tag: '運動'
    //         }
    //     },
    //     {
    //         params: {
    //             tag: '娛樂'
    //         }
    //     },
    //     {
    //         params: {
    //             tag: 'test'
    //         }
    //     }
    // ]
}

const {tag} = Astro.params
const {posts} = Astro.props

---
<BaseLayout>
    <div class="text-center mb-5 text-xl font-bold">
        標籤為<span class="text-amber-400 font-bold">{tag}</span>的文章
    </div>
    <section class="grid grid-cols-3 gap-8 mb-15">
        {
            posts.map((post:any) => <Card data={post.frontmatter} url={post.url} />)
        }
    </section>
</BaseLayout>