---
import Tag from "./Tag.astro"
const {data, url} = Astro.props
---
<div class="flex flex-col items-start gap-4">
    <div>
        <img src=`${data.hero.src}` alt=`${data.hero.alt}` class="w-full h-full object-cover aspect-video rounded-xl">
    </div>
    <h3 class="text-2xl font-bold">{data.title.slice(0,20)}...</h3>
    <!-- <div>
        {data.desc}
    </div> -->
    <div class="flex gap-2 flex-wrap">
        {data.tags.map((tag:any)=> <Tag tag={tag} />)}
    </div>
    <div class="text-sm text-zinc-400">
        {data.author}<br>
        {data.pubDate.slice(0,10)}
    </div>
    <a href=`${url}` class="text-sm px-5 py-2 bg-indigo-500 text-indigo-50 rounded">繼續閱讀</a>
</div>