---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props
---
<BaseLayout>
    <h2 class="text-4xl font-bold mb-5">{frontmatter.title}</h2>
    <div>
        <img src=`${frontmatter.hero.src}` alt=`${frontmatter.hero.alt}` class="w-full h-full object-cover aspect-video rounded-xl">
    </div>
    <div class="text-sm">
        發布日期:{frontmatter.pubDate.slice(0,10)}
    </div>
    <div class="text-sm">
        作者:{frontmatter.author}
    </div>
    <div class="text-sm flex gap-2">
        標籤: {
            frontmatter.tags.map((t:any) => <a href="#" class="bg-amber-300 text-sm rounded-xl px-3">{t}</a>)
        }
    </div>
    <div class="my-5 [&>p]:mb-8 leading-8">
        <slot />
    </div>
    <div>
        <a href="/blog" class="font-bold text-indigo-500">文章列表</a>
    </div>
</BaseLayout>